<!DOCTYPE html>
<html lang="en">
<head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
    <link rel="stylesheet" href="http://jqweui.com/dist/lib/weui.min.css">
    <link rel="stylesheet" href="http://jqweui.com/dist/css/jquery-weui.css">
    <style>
        body{
            font-size: 14px;
            background: url("/static/img/wap/index/article_bg.png") no-repeat;
            background-size: cover;
            font-family: "Consolas","Microsoft JhengHei","Apple LiGothic Medium,Microsoft YaHei","微软雅黑","Arial",sans-serif;
        }
        article{
            margin: 120px 70px;
        }
        article h3{text-align: center;margin-bottom: 10px;}
        article li{padding: 5px 0;}
    </style>
</head>
<body>
<article>
    <h3>为什么要给宝宝戒夜奶？</h3>
    <div>
        <ul>
            <li>吃夜奶的宝宝晚上会不断地醒来，影响宝宝的睡眠质量。小宝宝正在长身体的时候，一夜的安睡对小宝宝是很重要的。</li>
            <li>夜晚人体生理机能减退，宝宝多次吃夜奶，只会加重宝宝的肠胃负担，引起肠胃的消化不良。</li>
            <li>宝宝的生长激素分泌的旺盛时期在晚上，频发的醒来会影响宝宝生长激素的分泌，影响宝宝的的生长发育</li>
            <li>宝宝吃夜奶还易造成龋齿，这是因为此时宝宝的乳牙慢慢萌发，吃夜奶常常是吃着吃着就睡着了，奶水残留在宝宝的口腔内，奶水中的乳糖成分容易对宝宝的牙齿造成损害，滋生细菌，加大长龋齿的概率。</li>
        </ul>
    </div>

</article>

<div>
    <iframe src="https://v.qq.com/x/page/i0911o7f83e.html?pcsharecode=&sf=uri" frameborder="0"></iframe>
</div>

<script src="http://jqweui.com/dist/lib/jquery-2.1.4.js"></script>
<script src="http://jqweui.com/dist/lib/fastclick.js"></script>

<script>
    $(document).ready(function () {
        $("body").css('min-height: ' + $(window).height());
    });
</script>
</body>
</html>